<h3> Search for something you want to watch for, and we'll email you when matching advertisements are posted. </h3>
<form>
	<label> Search Terms </label>
	<input type="text" ng-model="input.query" placeholder="Search notify" autofocus/>

	<label> Select Category </label>
	<select ng-model="input.category" ng-options="category for category in categories"></select>
	<button ng-click="search()">Search</button>
</form>

<div ng-repeat="result in results">
	<h3>{{result.title}} - {{result.source}}</h3>
	{{result.description}}
</div>