<div class="controls">
	<form>

		<select ng-model="input.category" ng-options="category for category in categories"></select> -->
 <select ng-model="input.location" ng-options="location for location in locations"></select> 

	</br>
	</br>
	<div class="input-group input-group-lg">
		<input autocomplete="off" class="form-control input-lg search-query" id="search-query" maxlength="256" name="query" ng-model="input.query" placeholder="What do you want to buy?" size="30" title="" type="text"/>
		<span class="input-group-btn">
			<button type="submit" class="btn btn-search btn-success btn-lg" ng-click="search()">Search</button>
		</span>
	</div>
	</form>

	</br>

	<form>
	<div class="input-group input-group-lg">
		<!--
		<input autocomplete="off" class="form-control input-lg search-query" id="search-query" maxlength="256" name="query" ng-model="input.email_address" placeholder="Email me when these results change." size="30" title="" type="text"/> 
		<span class="input-group-btn">
			<button type="submit" class="btn btn-search btn-success btn-lg" ng-click="search()">Subscribe</button>
		</span>
		-->
	</div>
	</form>
			
</br>
<div class="row" ng-repeat="result in results">
	<div class="well">
		<div class="row">
		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		      <img src="{{result.thumbnail_url}}" alt="thumbnail of item for sale" ng-show="{{result.thumbnail_url}}">
		    </a>
		  </div>
		  	<h3> {{result.title}}
			<span class="label label-info pull-right">{{result.source}}</span>
			</h3>
			{{result.description}}
		</div>
	</div>
</div>
</div>
